/**************************
        HEADER
**************************/
*{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
}
header nav {
	width: 100%;
	margin: 25px auto;
	background: transparent;
}
.menu_bar{
	display: none;
}
header nav ul{
	
	list-style: none;
}
header nav ul li{
	float: right;
}

header nav ul li a{
color: #fff;
display: block;
padding: 20px;
text-decoration: none;
}
header nav ul li a:hover{
	background: transparent;
}
section {
	padding: 0px;
}

.navi
{
	color: #999999;
	float:left;
    margin-top: 20px;
    padding-left:25px ;
    -webkit-transition-property:color, text;
    -webkit-transition-duration: .05s, 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property:color, text;
    -moz-transition-duration:0.5s;
    -moz-transition-timing-function: ease;
    -o-transition-property:color, text;
    -o-transition-duration:0.5s;
    -o-transition-timing-function: ease;

}
.navi:hover{
	color:#cc9933;

}

#imagenLogo 
{
	margin-top: 8px;
	margin-left: -13px;
	padding-left: 0;
	width: 25px;
    overflow: hidden;
	position: absolute;
	background-color: transparent;
	
}
#imagenLogo:hover{
	color: #cc9933;

}



















































