/**************************
        HEADER
**************************/
*{
	margin: 0;
	padding: 0;
}

header{
	width: 100%;
}
header nav {
	width: 100%;
	margin: 25px auto;
	background: transparent;
}
.menu_bar{
	display: none;
}
header nav ul{
	
	list-style: none;
}
header nav ul li{
	float: right;
}

header nav ul li a{
color: #fff;
display: block;
padding: 20px;
text-decoration: none;
}
header nav ul li a:hover{
	background: transparent;
}
section {
	
}
body{
	 font-family: 'Open Sans', sans-serif;
}

.navi
{
	color: #999999;
	float:left;
    margin-top: 20px;
    padding-left:25px ;
    -webkit-transition-property:color, text;
    -webkit-transition-duration: .05s, 0.5s;
    -webkit-transition-timing-function: ease;
    -moz-transition-property:color, text;
    -moz-transition-duration:0.5s;
    -moz-transition-timing-function: ease;
    -o-transition-property:color, text;
    -o-transition-duration:0.5s;
    -o-transition-timing-function: ease;

}
.navi:hover{
	color:#996633;

}

#imagenLogo 
{
	margin-top: 5px;
	margin-left: -9px;
	padding-left: 0;
	width: 27px;
    overflow: hidden;
	position: absolute;
	background-color: transparent;
	
}
#imagenLogo:hover{
	color: #cc9933;

}

.parallax{
	
}
/**************************
        BODY
**************************/
body{
	font-family: Calibri,sans-serif;
}
.background-wrap{

	position: fixed;
	z-index: -1000;
	width: 100%;
	height: 100%;
	overflow: hidden;
	top:0;
	left: 0;
}

#video-bg-element{
	position: absolute;	
	float: left;
	top: 0;
	left: 0;
	min-hegiht:100%;
	min-width: 100%;
}
.content{
	
	width: 100%;
	min-height: 100%;
	margin-top: -25px;
	z-index: 1000;
	padding-bottom: 400px;
	background-color: rgba(0,0,0,0.4);
}
.content h1{
	text-align: center;
	font-size: 65px;
	font-family: 'Open sans', sans-serif;
	text-transform: uppercase;
	font-weight: 200;
	color:#fff;
	font-size: 100px;
	padding-top:15%;
	margin-bottom:10px; 
}
.content p{
	text-align: center;
	font-size: 20px;
	letter-spacing: 3px;
	color: #aaa;
}
.alinear{
	padding-top:80px;
	margin-bottom:-170px; 
}


/**************************
        PRESENTACION
**************************/
#presentacion{

	float: left;
	background: #C5A25D;
	width: 100%;
	height: 550px;
}
#presentacion p {

}


/**************************
        IMAGENES
**************************/

img {
  max-width: 100%;
}

#gallery {
  margin: 0;
  padding: 0;
}

#gallery li {
  list-style: none;
  float: left;
  width: 50%;
  margin-top:-4px;
  color: #bdc3c7;
}
#gallery ul li a p{
	position: absolute;
	text-align: center;
	font-size: 15px;
	font-family: 'Open sans', sans-serif;
	text-transform: uppercase;
	font-weight: 200;
	color:#fff;
	margin-left: 15%;
	margin-top: -20%; 

}

/**************************
        FOOTER
**************************/
/*footer {
	float: left;
	margin-top: 100%;
	background: #C5A25D;
	width: 100%;
	height: 400px;
}*/

/**************************
        JQUERYS
**************************/
@media screen and (max-width: 800px){
	header nav {
		position: absolute;
		width: 100%;
		height: 100%;
		left:-100%;
		margin: 0;
		position: fixed;
		background: #C5A24B;
	}
	.content h1{
		font-size: 50px;
	}	
	header nav ul li{
		display: block;
		float: none;
		border-bottom:1px solid rgba(255,255,255, .3);
	}
	.menu_bar{
		display: inline-block;
		width: 100%;
		background: #ccc;
	}

	.menu_bar .bt-menu{
		display: block;
		padding: 20px;
		background: #C5A24B;
		color: #fff;
		text-decoration: none;
		font-weight: bold;
		font-size: 25px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.menu_bar span{
		float: right;
		font-size: 30px;
	}

	img {
		width: 800px;
}

	#gallery li{
		width: 100%;
	}
}
















































